:root {
  font-family: sans-serif;
  --gradient-start: #432371;
  --gradient-end: #faae7b;
  --green-color: #88ab75;
}

body {
  background: linear-gradient(
    149deg,
    rgba(67, 35, 113, 1) 0%,
    rgba(250, 174, 123, 1) 100%
  );
  background-attachment: fixed;
  color: white;
}

header {
  background-color: rgb(255, 255, 255, 0.6);
  color: black;
  padding: 64px 32px 32px 32px;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

main {
  display: flex;
  flex-flow: column;
}

.add-book {
  font-size: 1.25rem;
  margin-bottom: 16px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 100ms ease-in-out;
  border: 2px solid black;
  z-index: 10;
  background-color: #fff;
  color: black;
}

.add-book.active {
  transform: translate(-50%, -50%) scale(1);
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 100ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.25);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  /* so we can click outside the overlay */
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.books-area {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 32px;
  padding: 32px 64px;
}

.book-card,
#open-modal {
  border-radius: 8px;
  padding: 32px;
  min-height: 400px;
  box-sizing: border-box;
}

header,
.book-card,
#open-modal {
  box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.25);
}

#open-modal {
  border: none;
  background-color: var(--green-color);
  color: white;
  line-height: 0.75;
}

#open-modal div:first-of-type {
  font-size: 200px;
}

#open-modal div:nth-of-type(2) {
  font-size: 1.5rem;
}

.book-card {
  background-color: rgb(255, 255, 255, 0.5);
  color: black;
}

.book-card div:first-of-type {
  margin-bottom: 24px;
}

.book-card div {
  margin-bottom: 16px;
}

.book-title {
  font-weight: bold;
  font-size: 1.25rem;
}
