body {
  $sepia-light: #f9f5e9;
  $sepia-dark: #333;
  $green: #366f4d;
  $shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.25);

  font-family: "Libre Baskerville", serif;

  background-color: $sepia-light;
  margin: 0;
  padding-bottom: 5rem;

  h1 {
    margin: 2rem 1rem 3rem 1rem;
    text-align: center;
  }

  button {
    font: bold 1rem "Libre Baskerville", serif;
    border: 2px solid $sepia-dark;
    background-color: $sepia-light;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
  }

  #books-list {
    padding: 0;

    li {
      list-style-type: none;
      margin: 1rem;

      button {
        background-color: $sepia-dark;
        color: $sepia-light;
        display: block;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        padding: 0.5rem;
        box-shadow: $shadow;

        .title {
          margin: 0.25rem;
        }

        .author {
          font-weight: normal;
          font-size: 0.5rem;
        }
      }
    }
  }

  .open-add-book-form {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: $green;
    color: $sepia-light;
    border: none;
    box-shadow: $shadow;
  }

  // ***************************************************************************

  .overlay {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #1424d02c;

    &.active {
      visibility: visible;
    }
  }

  form#add-book,
  #book-details {
    visibility: hidden;
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: lightgrey;

    &.active {
      visibility: visible;
    }
  }

  #book-details {
    .delete-book-popup {
      visibility: hidden;
      background-color: burlywood;
      width: 200px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 50%);

      &.active {
        visibility: visible;
      }
    }
  }
}
